* {
	font-size: 14px;
	color: white;
}

#kvadratos {
	margin: 200px auto;
	width: 500px;
	height: 500px;
	background: lightgreen;
	position: relative;
	overflow: hidden;
	transition: 2s all ease;
}

#karlos {
	width: 100px;
	height: 100px;
	background: blue;
	position: absolute;
	display: none;
	/*left: -100px;
	top: -100px;*/
}

@keyframes karlosLeft {
	0% {
		left: -100px;
		top: 200px;
	}
	50% {
		left: -50px;
		top: 200px;
	}
	100% {
		left: 0px;
		top: 200px;
	}
}


@keyframes karlosLeftBack {
	0% {
		left: 0px;
		top: 200px;
	}
	50% {
		left: -50px;
		top: 200px;
	}
	100% {
		left: -100px;
		top: 200px;
	}
}


@keyframes karlosRight {
	0% {
		right: -100px;
		top: 200px;
	}
	50% {
		right: -50px;
		top: 200px;
	}
	100% {
		right: 0px;
		top: 200px;
	}
}


@keyframes karlosRightBack {
	0% {
		right: 0px;
		top: 200px;
	}
	50% {
		right: -50px;
		top: 200px;
	}
	100% {
		right: -100px;
		top: 200px;
	}
}
